.sg-row {
    display: grid;
    grid-template-columns: repeat(var(--cols), 50px);
    grid-auto-rows: auto;
}

.def {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: url("/assets/ground1.gif");
}

.item1 {
    background-size: contain;
    background-image: url("/assets/item1.gif");
}

.item2 {
    background-size: contain;
    background-image: url("/assets/factory1.gif");
}

.item3 {
    background-size: contain;
    background-image: url("/assets/arrow.png");
}

.extractor {
    background-size: contain;
    background-image: url("/assets/extractor.gif");
}

.tree {
    background-size: contain;
    background-image: url("/assets/tree.gif");
}

.stone {
    background-size: contain;
    background-image: url("/assets/stone.png");
}

.rotated {
    transform: rotate( var(--angle));
}

.bottom {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}