<h4 mat-dialog-title>
  Add Item
</h4>

<mat-dialog-content class="mb-3">
  <div class="main-content">
    <button class="btn btn-sm btn-primary m-1 " [disabled]="res.wood<5" (click)="pay({wood: 5})"
      [mat-dialog-close]="item1">
      add 1 (5 wood)
    </button>
    <button class="btn btn-sm btn-success m-1 " [disabled]="res.stone<5" (click)="pay({stone: 5})"
      [mat-dialog-close]="item2">
      add 2 (5 stone)
    </button>
    <button class="btn btn-sm btn-secondary m-1 " [disabled]="res.stone<5 || res.wood<5"
      (click)="pay({stone: 5, wood: 5})" [mat-dialog-close]="extractor">
      add 2 (5 stone)
    </button>
    <button class="btn btn-sm btn-danger m-1 " [disabled]="res.wood<1 || res.stone<2" (click)="pay({wood: 1, stone: 2})"
      [mat-dialog-close]="item3">
      tapis (1 wood - 2 stone)
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-sm " [mat-dialog-close]="'eliminazione'">Elimina</button>
  <button class="btn btn-sm " (click)="onCloseClick()">Annulla</button>
</mat-dialog-actions>