<div class="dovrebbe essere una card che prende tutta la pagina" (click)="generalService.addTotal(objList)">
  <div class="row m-2">
    <p class="col-auto">
      Totale: {{objList?.total | number}} {{objList?.name}}
    </p>
    <p class="col-auto" *ngIf="objList && objList.items">
      {{generalService.totalSec(objList.items) | number}}/sec
    </p>
  </div>

  <hr />

  <div class="row m-2">
    <div class="col-6 bordered" *ngFor="let item of objList.items">
      <p>
        {{item.count | number}} - {{(item.count * item.val) | number}}/sec
      </p>
      <button class="btn btn-primary" [disabled]="item.cost>objList.total"
        (click)="generalService.addItem(objList,item)" type="button">
        {{item.cost | number}} $
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary col-auto" (click)="generalService.addNewItem(objList)"
        [disabled]="generalService.controlDisabled(objList)">
        Aggiungi item: {{generalService.controlNextAmount(objList) | number}} $
      </button>
    </div>
  </div>

  <!--div *ngFor="let item of items" class="row m-2">
  <p class="col-auto">
    {{item.count | number}}
  </p>
  <button class="btn btn-primary col-auto" [disabled]="item.cost>total" (click)="generalService.addItem(items,item)"
    type="button">
    {{item.cost | number}} $
  </button>
  <p class="col-auto">
    {{(item.count * item.val) | number}}/sec
  </p>
  <button *ngIf="item.count>10" class="btn btn-primary col-auto" [disabled]="generalService.getVal(item)>total"
    (click)="generalService.addVal(items,item)" type="button">
    Aumenta valore ({{generalService.getVal(item) | number}})
  </button>
</div-->

  <div class="row">
    <p class="col-auto">
      <ngb-progressbar type="primary" [value]="25"></ngb-progressbar>
    </p>
  </div>

</div>